/*  admin/profile/index  
*/
.padding-top-5{
    padding-top: 5px;
}
.margin-top-5{
    margin-top: 5px;
}
.padding-top-10{
    padding-top: 10px;
}
.margin-top-10{
    margin-top: 10px;
}
.padding-top-15{
    padding-top: 15px;
}
.margin-top-15{
    margin-top: 15px;
}
.padding-top-20{
    padding-top: 20px;
}
.margin-top-20{
    margin-top: 20px;
}
.padding-top-25{
    padding-top: 25px;
}
.margin-top-25{
    margin-top: 25px;
}
.padding-top-30{
    padding-top: 30px;
}
.margin-top-30{
    margin-top: 30px;
}

/*modules/admin/views/profile/template*/
.border-around{
    border-style: solid;
}

/*modules/admin/views/profile/index--header*/
.hr-header{
    border-color: black;
    border-width: 3px;
}
.header-background{
    background-color: #F5F5F5;
}

.left-btn-width-200{
    width:200px;
}

.scrollbar
{
    margin-left: 18px;
    float: left;
    margin-top: -20px;
    overflow-y: scroll;
    margin-right: -15px;
}
.force-overflow
{
    min-height: 450px;
}
.span-content{

}

/*Tab*/
/* Style the tab */
body {font-family: "Lato", sans-serif;}

.tablink {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: #777;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 50px;
    text-align: center;
}

/*color button*/
.color-button{
    background-color: #FFE6CC;
}
.click-color-button{
    background-color: #DAE8FC;
}
.afer-click-color-button{
    background-color: #D5E8D4;
}

